<!DOCTYPE html>
<html>
    <head>
        <title>Add employeees</title>
        <link href="/styles.css" rel="stylesheet" type="text/css"/>
    </head>
    <body id="addemployeeviewbody">
        <h1>EASYSOFT COMPANY LIMITED</h1>
        <div id="addemployees">
            <h3>ADD EMPLOYEES</h3>
            <form id="addemployeeForm" method="POST" action="/addEmployee">  
               <p id="namelabel">Name  <input type="text" name="name" placeholder="input name" required/></p>
                <br>
                <p id="inputlabel">Input each todo item on a new line</p>
                <p><textarea id="textbox" style="height: 155px; width: 600px;" name="list"  required></textarea></p>
                    <button type="submit" >sumbit</button>
            </form>
        </div>
    </body>
</html>